.standardButton {
     -fx-padding: 8 15 15 15;
     -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
     -fx-background-radius: 8;
     -fx-background-color:
             linear-gradient(from 0% 93% to 0% 100%, #66a0ed 0%, #4d8ee3 100%),
             #66a0ed,
             #66a0ed,
             radial-gradient(center 50% 50%, radius 100%, #66a0ed, #66a0ed);
     -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
     -fx-font-weight: bold;
     -fx-font-size: 1.1em;
 }

.borderUnderscoreStyle {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
    -fx-border-color: #E0FFFF;
}

#windowRootBorderPane {
    -fx-background-image: url("/background1.jpg");
    -fx-background-size: cover;
    -fx-border-style: solid;
    -fx-border-color: #adedff;
    -fx-border-width: 5;
}

.standardButton:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #66a0ed 0%, #78a9eb 100%),
            #66a0ed,
            #66a0ed,
            radial-gradient(center 50% 50%, radius 100%, #2b7be3, #78a9eb);
}

.standardButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#topGridPane {
    -fx-translate-y: 5;
    -fx-padding: 15;
    -fx-background-radius: 20.0;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-background-color: #ADD8E6;
    -fx-border-color: #adedff;
}

#midGridPane {
    -fx-translate-y: 20;
    -fx-translate-x: 5;
}

#inputModeGridPane {
    -fx-background-color: ADD8E6;
    -fx-background-radius: 10;
    -fx-padding: 5;
    -fx-border-radius: 10;
    -fx-border-color: #adedff;
    -fx-border-width: 2;
}

#createNewProfileGridPane {
    -fx-translate-y: 10;
}

#closeButton {
    -fx-translate-y: -5;
    -fx-min-width: 80;
}

#signInButton {
    -fx-translate-y: -5;
    -fx-min-width: 80;
}

#createProfileButton {
    -fx-translate-y: -10;
    -fx-min-width: 80;
}

#minimizeButton {
    -fx-translate-y: -5;
    -fx-translate-x: -10;
}

#maximizeButton {
    -fx-translate-y: -5;
    -fx-translate-x: -5;
}

#showSignInPassButton {
    -fx-translate-x: 5;
    -fx-min-width: 80;
}

#showNewPassButton {
    -fx-translate-x: 5;
    -fx-min-width: 80;
}

#responseHBox {
    -fx-padding: 20;
    -fx-alignment: TOP_CENTER;
}

#responseLabel {
    -fx-translate-x: 15;
}

.label {
    -fx-font-size: 20;
}

#headerLabel {
    -fx-font-size: 22;
    -fx-font-weight: bold;
}

#newProfileCheckbox {
    -fx-font-size: 20;
}

#newProfileCheckbox:hover {
    -fx-font-weight: bold;
}

.visiblePasswordHBox {
    -fx-alignment: CENTER;
}

.buttonsVBox {
    -fx-alignment: BOTTOM_CENTER;
}

.JFXTextField {
    -fx-font-size: 20;
    -fx-background-color: white;
}

.JFXTextField:hover {
    -fx-opacity: 0.9;
}

#signInPasswordVisibleText {
    -fx-font-size: 16;
}

#newPasswordVisibleText {
    -fx-font-size: 16;
}

#chooseProfileComboBox {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-background-color: white;
}

#chooseProfileLabel {
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

#programResponseTextField {
    -fx-background-color: white;
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 17;
}


.closeButtonHBox {
    -fx-alignment: TOP_RIGHT;
}

#settingsHBox {
    -fx-alignment: TOP_RIGHT;
    -fx-translate-x: -10;
    -fx-translate-y: 30;
}

#settingsComboBox {
    -fx-background-color: white;
    -fx-font-size: 18;
}

#settingsComboBox:hover {
    -fx-opacity: 0.9;
}


